<table>
<% resource.attributes.each do |a| %>
  <tr>
    <th><%= a[0] %></th>
    <td><%= a[1] %></td>
  </tr>
<% end %>
</table>

<p><%= link_to "Edit", edit_polymorphic_path(resource) %></p>
<p><%= link_to "Back", polymorphic_path(controller_name) %></p>